
@media only screen and (max-width:240px) {

}


@media only screen and (min-width:241px) and (max-width:480px) {


}

@media only screen and (max-width:479px) {
  

}

@media only screen and (min-width:481px) and (max-width:729px) {

}


@media only screen and (min-width:801px) and (max-width:990px) {

}

@media only screen and (max-width:800px) {

}

@media only screen and (min-width:768px) and (max-width:800px) {

}

@media screen and (max-width: 60em) {


}

@media only screen and  (max-width:990px) {
  
}

@media only screen and (min-width:420px) and (max-width:1700px) {
	.main-menu {
	  display: inline-block;
	  margin: 3px 0 auto auto;
	  width:54%;
	  float:right;
	}
.header-top-content ul li a {
  font-size: 16px;
}
.main-menu-open .main-menu i {
  margin-left: 5px;
  margin-right: 8px;
  margin-top: 3px;
}
.category-tab-right ul li {
  width: 47.7%;
}
.category-tab-right ul li a.tl-active {
  float: none;
  padding-right: 6%;
  text-align: center;
  display: block;
}
.search-input {
  margin-right: 60px;
  width: 88%;
}
}

